html {
  background: url('xpback.png') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
}

@media only screen and (max-width: 768px)  {
html
{
    background:url('xpback.png') no-repeat center top cover;
   
  max-width: 100%;
}     }

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp forwards;
}    

@keyframes float {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }
}

.float {
       
  animation: float 2s ease-in-out infinite;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

  @font-face {
    font-family: 'decoderfont';
    src: url(decoder.ttf);;
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
    font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }

  @font-face {
    font-family: 'comicsans';
    src: url(comicsans.ttf);
  }

  @font-face {
    font-family: 'fixedsys';
    src: url(fixedsys.ttf);
  }

  @font-face {
    font-family: 'papyrus';
    src: url(papyrus.ttf);
  }

  @font-face {
    font-family:'fancycursive';
    src: url(fancycursive.ttf);
  }

  a {
    text-decoration: none;
  }


  .navcont {
    display: flex; 
    width: 100%;
    bottom: 10vh;
    justify-content: center;
    text-align: center;
  }

  .nav {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    perspective: 500px;
  }

  main {
    display: flex;
    flex-direction: column;
    transform: rotatex(10deg);
    animation: rotateAngle 6s linear infinite;
  }
  
  button {
    display: block;
    position: relative;
    margin: 0.5em 0;
    padding: .8em 2.2em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #FFFFFF;
    border: none;
    border-radius: .4em;
  
    text-transform: lowercase;
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 0.04em;
  
    mix-blend-mode: color-dodge;
    perspective: 500px;
    transform-style: preserve-3d;
  
    &:before, &:after {
      --z: 0px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      mix-blend-mode: inherit;
      border-radius: inherit;
      transform-style: preserve-3d;
      transform: translate3d(
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px)
      );
    }
    
    span {
      mix-blend-mode: none;
      display: block;
    }
    
    &:after {
      background-color: #5D00FF;
    }
    
    &:before {
      background-color: #FF1731;
    }
    
    &:hover {
      background-color: #FFF65B;
      transition: background .3s 0.1s;
    }
    
    &:hover:before {
      --z: 0.04;
      animation: translateWobble 2.2s ease forwards;
    }
    
    &:hover:after {
      --z: -0.06;
      animation: translateWobble 2.2s ease forwards;
    }
  }

  
  @keyframes rotateAngle {
    0% {
      transform: rotateY(0deg) rotateX(10deg);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    25% {
      transform: rotateY(20deg) rotateX(10deg);
    }
    50% {
      transform: rotateY(0deg) rotateX(10deg);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    75% {
      transform: rotateY(-20deg) rotateX(10deg);
    }
    100% {
      transform: rotateY(0deg) rotateX(10deg);
    }
  }
  
  @keyframes translateWobble {
    0% {
      opacity: 0;
      transform: translate3d(
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px)
      );
    }
    16% {
      transform: translate3d(
        calc(var(--z) * 160px), 
        calc(var(--z) * 160px), 
        calc(var(--z) * 160px)
      );
    }
    28% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 70px), 
        calc(var(--z) * 70px), 
        calc(var(--z) * 70px)
      );
    }
    44% {
      transform: translate3d(
        calc(var(--z) * 130px), 
        calc(var(--z) * 130px), 
        calc(var(--z) * 130px)
      );
    }
    59% {
      transform: translate3d(
        calc(var(--z) * 85px), 
        calc(var(--z) * 85px), 
        calc(var(--z) * 85px)
      );
    }
    73% {
      transform: translate3d(
        calc(var(--z) * 110px), 
        calc(var(--z) * 110px), 
        calc(var(--z) * 110px)
      );
    }
    88% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 90px), 
        calc(var(--z) * 90px), 
        calc(var(--z) * 90px)
      );
    }
    100% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 100px), 
        calc(var(--z) * 100px), 
        calc(var(--z) * 100px)
      );
    }
  }


  
  .about-container {
    color: black;
    font-family: 'comicsans';
    z-index: 0;
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .header {
    text-align: center;
    object-position: center;
    position: sticky;
    top: 0;
  }
  
  .main2 {
    border-radius: 10px;
    width: 80%;
    height: auto;
    padding: 15px;
  }







  /*MOBILE FORMATTING */
  @media screen and (max-width: 768px) {
    .body {
    background-image: url('xpback.png');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        }   
        

        

          }

  
  
  