html {
background: url('xpback.png') no-repeat fixed center;
background-size: cover;
max-width: 100%;
color: black;
font-size: 20px;
overflow-y: hidden;
    } 

    @font-face {
      font-family: 'comicsans';
      src: url(comicsans.ttf);
    }
  
    @font-face {
      font-family: 'fixedsys';
      src: url(fixedsys.ttf);
    }
  
    @font-face {
      font-family: 'papyrus';
      src: url(papyrus.ttf);
    }
  
    @font-face {
      font-family:'fancycursive';
      src: url(fancycursive.ttf);
    }

    @keyframes fadeInUp {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    
    .fadeInUp-animation {
      animation: 1.5s fadeInUp forwards;
    }    
    
    @keyframes float {
      0% {
          transform: translateY(0);
      }
    
      50% {
          transform: translateY(-20px);
      }
    
      100% {
          transform: translateY(0);
      }
    }

    @keyframes rainbow_animation {
      0%,100% {
          background-position: 0 0;
      }
  
      50% {
          background-position: 100% 0;
      }
  }

  #shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
    display: inline;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
    
    .float {
           
      animation: float 2s ease-in-out infinite;
    }

    .footer {
      display: flex; 
      width: 100%;
      justify-content: center;
      text-align: center;
      object-position: center;
      vertical-align: center;
    }
  
    .nav {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      perspective: 500px;
    }
  
    main {
      display: flex;
      flex-direction: column;
      transform: rotatex(10deg);
      animation: rotateAngle 6s linear infinite;
    }
    
    button {
      display: block;
      position: relative;
      bottom: 10%;
      margin: 0.5em 0;
      padding: .8em 2.2em;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      background: #FFFFFF;
      border: none;
      border-radius: .4em;
    
      text-transform: lowercase;
      font-size: 0.5em;
      font-weight: 500;
      letter-spacing: 0.04em;
    
      mix-blend-mode: color-dodge;
      perspective: 500px;
      transform-style: preserve-3d;
    
      &:before, &:after {
        --z: 0px;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0;
        mix-blend-mode: inherit;
        border-radius: inherit;
        transform-style: preserve-3d;
        transform: translate3d(
          calc(var(--z) * 0px), 
          calc(var(--z) * 0px), 
          calc(var(--z) * 0px)
        );
      }

    
    
   
      
      span {
        mix-blend-mode: none;
        display: block;
      }
      
      &:after {
        background-color: #5D00FF;
      }
      
      &:before {
        background-color: #FF1731;
      }
      
      &:hover {
        background-color: #FFF65B;
        transition: background .3s 0.1s;
      }
      
      &:hover:before {
        --z: 0.04;
        animation: translateWobble 2.2s ease forwards;
      }
      
      &:hover:after {
        --z: -0.06;
        animation: translateWobble 2.2s ease forwards;
      }
    }
  
    
    @keyframes rotateAngle {
      0% {
        transform: rotateY(0deg) rotateX(10deg);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
      }
      25% {
        transform: rotateY(20deg) rotateX(10deg);
      }
      50% {
        transform: rotateY(0deg) rotateX(10deg);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
      }
      75% {
        transform: rotateY(-20deg) rotateX(10deg);
      }
      100% {
        transform: rotateY(0deg) rotateX(10deg);
      }
    }
    
    @keyframes translateWobble {
      0% {
        opacity: 0;
        transform: translate3d(
          calc(var(--z) * 0px), 
          calc(var(--z) * 0px), 
          calc(var(--z) * 0px)
        );
      }
      16% {
        transform: translate3d(
          calc(var(--z) * 160px), 
          calc(var(--z) * 160px), 
          calc(var(--z) * 160px)
        );
      }
      28% {
        opacity: 1;
        transform: translate3d(
          calc(var(--z) * 70px), 
          calc(var(--z) * 70px), 
          calc(var(--z) * 70px)
        );
      }
      44% {
        transform: translate3d(
          calc(var(--z) * 130px), 
          calc(var(--z) * 130px), 
          calc(var(--z) * 130px)
        );
      }
      59% {
        transform: translate3d(
          calc(var(--z) * 85px), 
          calc(var(--z) * 85px), 
          calc(var(--z) * 85px)
        );
      }
      73% {
        transform: translate3d(
          calc(var(--z) * 110px), 
          calc(var(--z) * 110px), 
          calc(var(--z) * 110px)
        );
      }
      88% {
        opacity: 1;
        transform: translate3d(
          calc(var(--z) * 90px), 
          calc(var(--z) * 90px), 
          calc(var(--z) * 90px)
        );
      }
      100% {
        opacity: 1;
        transform: translate3d(
          calc(var(--z) * 100px), 
          calc(var(--z) * 100px), 
          calc(var(--z) * 100px)
        );
      }
    }
  

a {
  text-decoration: none;
  color: black;
}


  body {
  background-image: url('body.jpg') no-repeat center center scroll;
  color: #420C14;
  height: 100vh;
  max-width: 100%;

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  height: inherit;
  margin-left: 20%;
  margin-right: 20%;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    display: none;
}
}

.header {
  height: 33vh;
  top: 0;
  text-align: center;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  font-family: bitfont;
  color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    object-position: center;
}

.songs-container {
  font-family: 'blockgame';
  display: flex;
  max-width: 100%;
  height: 34vh;
  overflow-x: scroll;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  ::-webkit-scrollbar {
    display: none;
}
  }

  .songs-container .song { /* Change from 30vw to 30% */
    width: 30%; /* Change from 30vw to 30% */
    /* Keep other styles for .song */
  }

  .footer {
    height: 33vh;
  }

  .p {
    display: inline;
    font-size: 0.5rem;
  }

  .container {
    display: inline !important;
    width: auto;
    height: 1rem;
    background-size: auto;
    background-clip: text !important;
    overflow: hidden !important;
    font-size: 1rem;
  }


  .song {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
 
  .figure {
    margin-left: 0;
    margin-right: 0;
  }

    #play, .control {
      margin-left: 5%; 
      margin-right: 5%;
        height: 30px;
        width: 200px;
        overflow: hidden;
        color: white;
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none;    /* mozilla browsers */
        -khtml-user-select: none;  /* webkit (konqueror) browsers */
        -ms-user-select: none;     /* IE10+ */
    }
  
    }
  

 /*MOBILE FORMATTING*/
  


  