html {
background: url('body.jpg') no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

@media only screen and (orientation:portrait)
    html {
        background:url('body.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        max-width: 100%;
    }       

    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  
  body {
  color: #420C14;
  height: 100%;
  width: 100%;

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }


  /*NAVBAR */
  ul {
    display: flex;
    list-style-type: none;
    color: #420C14;
    margin: 0;  
    padding: 0;
    border-radius: 5px; 
    justify-content: center;
  
  }

  ul li {
    text-align: center;
    position: relative;
  }

  li a {
   display: block;
    color: #420C14;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }
/*END NAVBAR*/


/*HYPERLINKS*/
  a:link {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #D6EFFF;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #420C14;
    background-color: transparent;
    text-decoration: underline;
  } 
/*END HYPERLINKS*/

  
  /*HOME*/

  .marquee {
    line-height: 80px;
    font-size: 30px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    justify-content: center;
    vertical-align: center;
    text-align: center;
  }

 .header {
  margin-left: 12.5%;
  margin-right: 12.5%;
  height: 100px;
  position: relative;
  border-radius: 10px;
 }

.headerpic {
  left: 7.5%;
  position: absolute;
  border-radius: 10px;
  background-clip: border-box;

  .profile {
    background-color: #F1EBE2;
    border-radius: 10px;
    outline: solid;
    outline-color:#420C14;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.headertext {
  height: 80px; /*format position of textbox*/
  width: 100%;
  font-family: 'bitfont';
  font-size: 20px;
  background-color: #F1EBE2;  /*create outline box */
  border-radius: 10px;
  line-height: 75px; /*center text within outine box*/  
  position: absolute; /*anchor outline box to bottom of div */
  bottom: 0;
  text-indent: 8em;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

  .main-container {
    margin-top: 20px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    flex-direction: row; /* horizontal stacking ltr */
    height: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    
  }

    .stats {
    background-color: #F1EBE2;  /*create outline box */
    border-radius: 10px;
    padding: 20px;
    width: 60vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    align-items: center;
    }

    .hello {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #F1EBE2;  /*create outline box */
    border-radius: 10px;
    background-clip: padding-box;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
    }

    .ads {
      display: flex;
      width: 30%; 
      flex-direction: column;
      text-align: center;
      align-items: center;
      background-color: #F1EBE2;  /*create outline box */
      border-radius: 10px;
      background-clip: padding-box;
      padding: 10px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

          .catlook {
          padding: 5px;
          height: 200px;
          width: 150px; 
          border-radius: 10px;
          }

          .pizzacat {
          padding: 5px;
          height: 200px;
          width: 150px; 
          border-radius: 10px;
          }

.frog {
  height: 15vh;
  width: auto;
  overflow-y: show;
  display: flex; 
  justify-content: center; 
  text-align: center; 
  margin: auto;
}

.misc-container {
display: flex;
margin-top: 0;
margin-left: 12.5%;
margin-right: 12.5%;
flex-direction: column; /* horizontal stacking ltr */
height: auto;
flex-wrap: nowrap;
justify-content: space-between;

.element::-webkit-scrollbar {
  display: none;
}
}

.musichead {
  margin-top: 0;
  justify-content: center;
  text-align: center;
  background-color:#F1EBE2;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.listen {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    justify-content: start;
  }

.song {
  font-family: 'blockgame';

  
}

.rn {
  grid-area: rn;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  90% { opacity: 0; }
  100% { opacity: 1; }
}
  
          .song {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            vertical-align: center;
            align-content: center;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            animation: fadeInAnimation ease 2s;
            animation-timing-function: ease-in-out; 
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
          }

          .arthead {
            margin-top: 2vh;
            justify-content: center;
            text-align: center;
            background-color:#F1EBE2;
            border-radius: 10px;
            box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
          
.digart {
  margin-top: 20vh;
  justify-content: center;
  text-align: center;
}


          .foot { 
            height: 30vh;
          }



/*MOBILE FORMATTING!*/
/*MOBILE FORMATTING!*/
/*MOBILE FORMATTING!*/

    @media screen and (max-width: 768px) {
        .body {
        background-image: url('mobilebody.jpg');
        background-repeat: no-repeat; 
        -webkit-background-size: cover;
        -webkit-background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
            }

            .header {
              margin: auto;
              width: 85%;
              height: 20vh;
              position: relative;
              border-radius: 10px;
             }

             .headertext {
              text-indent: 28vh;
             }

            .main-container {
              margin-top: 20px;
              margin-left: 5%;
              margin-right: 5%;
              max-width: 100%;
              display: flex;
              flex-direction: column; /* vertical stacking ltr */
              height: auto;
              justify-content: center;
            }      
        
              .hello {
              order: 1;
              margin: auto;
              width: 90%;
              background-color: #F1EBE2;  /*create outline box */
              border-radius: 10px;
              background-clip: padding-box;
              padding: 10px;
              box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            
              }

              .stats {
                order: 2;
                background-color: #F1EBE2;  /*create outline box */
                border-radius: 10px;
                padding: 10px;
                width: 90%;
                margin-top: 3vh;
                margin-bottom: 3vh;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
              text-align: center;
                }
          
              .ads {
                order: 3;
                display: flex;
                width: 90%; 
                margin: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #F1EBE2;  /*create outline box */
                border-radius: 10px;
                background-clip: padding-box;
                padding: 10px;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                justify-content: center;
              }

            }

  /*MOBILE FORMATTING!*/
  /*MOBILE FORMATTING!*/
  /*MOBILE FORMATTING!*/
        

  /*GRIEVANCES*/
  .grievancesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .grievancestext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }

   /*END HOME*/
  


  
  
  

  .dreamstop {
    display: block;
    font-family: 'bitfont';
    font-size: 20px;
    line-height: 35px;
    color: #420C14;
    position: relative;
   
  }

   


  
.dream1metrobabytext,  .dream2hostagetext, .dream3blindlunchtext, .dream4cranetext, .dream7eyestext, .dream8godtext, .dream9riverslidetext, .dream10beartext, .dream11meteor3text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
  }

  .dream6maxwelltext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    max-height: 300%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
    overflow: auto;
    margin-bottom: 50px;
  }

 
  
  .moviegrid-container {
  background-image: url('moveart.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
   
    padding: 25px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 210px 430px 170px 180px 500px;
    grid-template-areas:
    "header header"
    "filmslove lovelist"
    "filmsenjoy lovelist"
    "filmart hatelist"
    "terriblefilm hatelist"
    "footer footer";
  }
  
  .moviesheader {
    grid-area: header;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18.5px;
    text-align: center;
    color: #420C14;
  }

  .filmslove {
    grid-area: filmslove;
    font-family: 'bitfont';
    vertical-align: top;
    line-height: 25px;
  }
  .filmsenjoy {
    grid-area: filmsenjoy;
  }
  .lovelist {
    grid-area: lovelist;
    font-size: 18px;
    line-height: 26px;
  }
  .hatelist {
    grid-area: hatelist;
  }
  .filmart {
    grid-area: filmart;
  }
  .terriblefilm {
    grid-area: terriblefilm;
  }
  .moviesfooter {
    grid-area: footer;
  }
  .thumbdown {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }
 
  }

/*MARQUIS*/
.marquis1 {
  grid-area: marquis;
  font-family: 'blockgame';
  font-size: 50px;
  background-position: center;
  border-radius: 25px 25px 25px 25px;
  color: #ED7A5A;
  text-align: center;
  text-shadow: 2px 2px #012622;
  outline: 3px 3px #012622;
}
  .marquis2 {
    grid-area: marquis;
    font-family: 'blockgame';
    font-size: 50px;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
    color: #ED7A5A;
    text-align: center;
    text-shadow: 2px 2px #012622;
    outline: 3px 3px #012622;
  }
  /*END MARQUIS*/

