html,

body {
  color: #420C14;
  height: 100%;
  width: 100%;
  background-image: url('body.jpg');
  background-position: top;
  background-size: cover;

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }


  
  /*NAVBAR */
  ul {
    display: flex;
    list-style-type: none;
    color: #420C14;
    margin: 0;  
    padding: 0;
    border-radius: 5px; 
    justify-content: center;

  }

  ul li {
    text-align: center;
    position: relative;
  }

  li a {
   display: block;
    color: #420C14;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }
/*END NAVBAR*/

/*HYPERLINKS*/
  a:link {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #D6EFFF;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #420C14;
    background-color: transparent;
    text-decoration: underline;
  }
/*END HYPERLINKS*/
/*MOBILE FORMATTING*/

  @media screen and (max-width: 768px) {
    .body {
      background-image: url('mobilebody.jpg');
      background-repeat: no-repeat; 
      -webkit-background-size: cover;
      -webkit-background-repeat: no-repeat;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
    
    .homegrid-container {
      display: grid;
      margin-left: 5%;
      margin-right: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 300px 500px 300px 200px 200px;
        grid-template-areas:
            "header"
            "pics"
            "content"
            "pics2"
            "listen"
            "footer";
    }
    
      .header, .content, .pics, .pics2, .musichead, .listen, .catlook, .oyster {
        grid-column: auto;
        grid-row: auto;
        display: flex;
        overflow: hidden;
      }

    .pics2, .pics {
      display: hidden;
    }
    .oyster, .catlook {
      align-items: center;
      height: 100px;
      width: auto;
      }
    
        .header {
          text-align: center;
          justify-content: center;
        }
      }
  
}
  /*END MOBILE FORMATTING*/
  
  /*HOME*/
  .homegrid-container {
    max-width: 75% !important;
    overflow-x: hidden !important;
    margin-left: 12.5%;
    margin-right: 12.5%;
    overflow: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 80px 500px 150px 80px 300px 200px;
    grid-template-areas:
        "header  header"
        "content pics"
        "pics2 pics2"
      "musichead musichead"
      "listen listen"
        "footer  footer";
    
  }

  .header {
    line-height: 80px;
    font-size: 30px;
    display: flex;
    grid-area: header;
    justify-content: center;
    vertical-align: center;
    text-align: center;
  }
.razor {
 width: 100%; 
}

  .content {
    vertical-align: top;
    display: grid;
    grid-area: content;
    padding-top: auto;
    padding-bottom: auto;
    overflow: visible;
  }

  .pics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: pics;
    overflow: hidden;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-around;
    
    
  }
          .catlook {
          justify-content: right;
          animation: fadeInAnimation ease 1s;
          animation-timing-function: ease-in-out; 
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          padding: 5px;
          height: 200px;
          width: 150px; 
          border-radius: 10px;
          }
.me {
  animation: fadeInAnimation ease 1s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 200px;
  width: 200px;
  justify-content: right;
  }

.pics2 {
  grid-area: pics2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  animation: fadeInAnimation ease 2s;
  animation-timing-function: ease-in-out; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.musichead {
  grid-area: musichead;
  justify-content: center;
  text-align: center;
}
.listen {
  grid-area: listen;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    animation: fadeInAnimation ease 5s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  overflow: hidden;
  }

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  90% { opacity: 0; }
  100% { opacity: 1; }
}
  
          .buffer, .song {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            vertical-align: center;
            align-content: center;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            animation: fadeInAnimation ease 2s;
            animation-timing-function: ease-in-out; 
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
          }

.footer {
  display: grid;
  grid-area: footer;
  align-items: bottom;
  justify-content: center;
}
        

  /*GRIEVANCES*/
  .grievancesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .grievancestext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }

   /*END HOME*/
  


  
  
  

  .dreamstop {
    display: block;
    font-family: 'bitfont';
    font-size: 20px;
    line-height: 35px;
    color: #420C14;
    position: relative;
   
  }

 
    


  
.dream1metrobabytext,  .dream2hostagetext, .dream3blindlunchtext, .dream4cranetext, .dream7eyestext, .dream8godtext, .dream9riverslidetext, .dream10beartext, .dream11meteor3text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
  }

  .dream6maxwelltext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    max-height: 300%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
    overflow: auto;
    margin-bottom: 50px;
  }

 
  
  .moviegrid-container {
  background-image: url('moveart.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
   
    padding: 25px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 210px 430px 170px 180px 500px;
    grid-template-areas:
    "header header"
    "filmslove lovelist"
    "filmsenjoy lovelist"
    "filmart hatelist"
    "terriblefilm hatelist"
    "footer footer";
  }
  
  .moviesheader {
    grid-area: header;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18.5px;
    text-align: center;
    color: #420C14;
  }

  .filmslove {
    grid-area: filmslove;
    font-family: 'bitfont';
    vertical-align: top;
    line-height: 25px;
  }
  .filmsenjoy {
    grid-area: filmsenjoy;
  }
  .lovelist {
    grid-area: lovelist;
    font-size: 18px;
    line-height: 26px;
  }
  .hatelist {
    grid-area: hatelist;
  }
  .filmart {
    grid-area: filmart;
  }
  .terriblefilm {
    grid-area: terriblefilm;
  }
  .moviesfooter {
    grid-area: footer;
  }
  .thumbdown {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }
 
  }

/*MARQUIS*/
.marquis1 {
  grid-area: marquis;
  font-family: 'blockgame';
  font-size: 50px;
  background-position: center;
  border-radius: 25px 25px 25px 25px;
  color: #ED7A5A;
  text-align: center;
  text-shadow: 2px 2px #012622;
  outline: 3px 3px #012622;
}
  .marquis2 {
    grid-area: marquis;
    font-family: 'blockgame';
    font-size: 50px;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
    color: #ED7A5A;
    text-align: center;
    text-shadow: 2px 2px #012622;
    outline: 3px 3px #012622;
  }
  /*END MARQUIS*/

