html,

body {
  height: 100%;
  width: 100%;
  background-image: url('body.jpg');
  background-position: top;
  background-size: cover;

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }


  /*NAVBAR */
  ul {
    display: flex;
    list-style-type: none;
    color: #420C14;
    margin: 0;  
    padding: 0;
    border-radius: 5px; 
    justify-content: center;

  }

  ul li {
    text-align: center;
    position: relative;
    display: inline-block;
  }

  li a {
   display: block;
    color: #420C14;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }
/*END NAVBAR*/
/*HYPERLINKS*/
  a:link {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #D6EFFF;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #420C14;
    background-color: transparent;
    text-decoration: underline;
  }

  /*END HYPERLINKS*/

  .musicgrid-container {
    text-align: center;
     font-family: 'blockgame';
     color: #420C14;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 25px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 120px 170px 150px 600px;
    grid-template-areas:
      "header header header"
      "intro intro intro"
      "musiclist  musiclist2 musiclist3"
      "musiclist musiclist2 musiclist3"
      "footer footer footer";
  }

  @media only screen and (max-width: 768px) {
      .history {
         display: block;
      }
  }

  .musicheader {
    grid-area: header;
    position: relative;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    color: #420C14;
    padding-right: 5px;
  }
  .musicintro {
    grid-area: intro;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
        line-height: 35px;
    color: #420C14;
  }

  .musiclist {
  grid-area: musiclist;
    padding-top: 5px;
    position: relative;
    padding-left: 5px;
    font-family: 'blockgame';
    font-size: 15px;
    text-align: center;
    color: #420C14;
    
  .musiclist2 {
  grid-area: musiclist2;
    padding-top: 5px;
    position: relative;
    padding-left: 5px;
    font-family: 'blockgame';
    font-size: 15px;
    text-align: center;
    color: #420C14;
  }

  .musiclist3 {
    grid-area: musiclist3;
    padding-top: 5px;
    position: relative;
    padding-left: 5px;
    font-family: 'blockgame';
    font-size: 15px;
    text-align: center;
    color: #420C14;
  }

  .musicintro {
    grid-area: intro;
    font-size: 18px;
    line-height: 30px;
  }


.tryjummbus {
grid-area: tryjummbus;
  position: relative;
 text-align: center;
  max-width: 50%;
}
