@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

html {
background: url('xpback.png') no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 25px;
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

@media only screen and (orientation:portrait)
    html {
        background:url('body.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        max-width: 100%;
    }       

    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
  
  body {
  color: #420C14;
  height: 100%;
  width: 100%;

  a:link, a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color:white;
  }

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }

  .maxwell {
    position: absolute;
    z-index: 0;
    left: 15%;
    top: 40%;
    height: 150px;
    width: 150px;
  
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .dadsthumb {
    position: absolute;
    z-index: 0;
    right: 27%;
    top: 53%;
    height: 75px;
    width: auto;

    img {
      max-height: 100%;
      max-width: 100%;
      rotate: -90deg;
    }
  }


  .navcont {
    display: flex; 
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    perspective: 500px;
  }

  main {
    display: flex;
    flex-direction: column;
    transform: rotatex(10deg);
    animation: rotateAngle 6s linear infinite;
  }
  
  button {
    display: block;
    position: relative;
    margin: 0.5em 0;
    padding: .8em 2.2em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #FFFFFF;
    border: none;
    border-radius: .4em;
  
    text-transform: lowercase;
    font-size: 0.5em;
    font-weight: 500;
    letter-spacing: 0.04em;
  
    mix-blend-mode: color-dodge;
    perspective: 500px;
    transform-style: preserve-3d;
  
    &:before, &:after {
      --z: 0px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      opacity: 0;
      mix-blend-mode: inherit;
      border-radius: inherit;
      transform-style: preserve-3d;
      transform: translate3d(
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px)
      );
    }
    
    span {
      mix-blend-mode: none;
      display: block;
    }
    
    &:after {
      background-color: #5D00FF;
    }
    
    &:before {
      background-color: #FF1731;
    }
    
    &:hover {
      background-color: #FFF65B;
      transition: background .3s 0.1s;
    }
    
    &:hover:before {
      --z: 0.04;
      animation: translateWobble 2.2s ease forwards;
    }
    
    &:hover:after {
      --z: -0.06;
      animation: translateWobble 2.2s ease forwards;
    }
  }
}
  
  @keyframes rotateAngle {
    0% {
      transform: rotateY(0deg) rotateX(10deg);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    25% {
      transform: rotateY(20deg) rotateX(10deg);
    }
    50% {
      transform: rotateY(0deg) rotateX(10deg);
      animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    75% {
      transform: rotateY(-20deg) rotateX(10deg);
    }
    100% {
      transform: rotateY(0deg) rotateX(10deg);
    }
  }
  
  @keyframes translateWobble {
    0% {
      opacity: 0;
      transform: translate3d(
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px), 
        calc(var(--z) * 0px)
      );
    }
    16% {
      transform: translate3d(
        calc(var(--z) * 160px), 
        calc(var(--z) * 160px), 
        calc(var(--z) * 160px)
      );
    }
    28% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 70px), 
        calc(var(--z) * 70px), 
        calc(var(--z) * 70px)
      );
    }
    44% {
      transform: translate3d(
        calc(var(--z) * 130px), 
        calc(var(--z) * 130px), 
        calc(var(--z) * 130px)
      );
    }
    59% {
      transform: translate3d(
        calc(var(--z) * 85px), 
        calc(var(--z) * 85px), 
        calc(var(--z) * 85px)
      );
    }
    73% {
      transform: translate3d(
        calc(var(--z) * 110px), 
        calc(var(--z) * 110px), 
        calc(var(--z) * 110px)
      );
    }
    88% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 90px), 
        calc(var(--z) * 90px), 
        calc(var(--z) * 90px)
      );
    }
    100% {
      opacity: 1;
      transform: translate3d(
        calc(var(--z) * 100px), 
        calc(var(--z) * 100px), 
        calc(var(--z) * 100px)
      );
    }
  }





  ul {
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    color: #420C14;
  }
  ul li {
    width: 10%;
    align-items; center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  li a {
   display: block;
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
    font-size: .5rem;
    border-radius: 50px;
  }
  li a:hover {
    outline: solid;
    outline-color: rgb(36,70,113, 0.9);
    background-color: rgb(63,164,139, .20);
    color: black;
  }
/*END NAVBAR*/


.floatcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  object-position: center;
  height: 35vh;
}

.float {
  display: inline;
  text-align: center;
 vertical-align: middle;
 height: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
 line-height: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  width: 100%;
  font-family: 'seasons';
  font-size: clamp(1rem, -0.875rem + 8.333vw, 3.5rem);
  color: black;
}



footer {
  color: white;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;

  a:link, a:visited {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    color:rgb(240, 53, 206);
  }
}




@keyframes fadeInAnimation {
  0% {opacity: 0;}
  90% { opacity: 0; }
  100% { opacity: 1; }
}
  
          .song {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            vertical-align: center;
            align-content: center;\n            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            animation: fadeInAnimation ease 2s;
            animation-timing-function: ease-in-out; 
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
          }

/* MARQUEE STYLES */
.marquee-text {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
  padding-left: 100%; /* Start the text off-screen */
  animation: marquee 20s linear infinite; /* Adjust duration for speed */
}

.blinking-text {
  animation: blinker 1.0s steps(1) infinite;
}

/* END MARQUEE STYLES */

       




/*MOBILE FORMATTING!*/
/*MOBILE FORMATTING!*/
/*MOBILE FORMATTING!*/

    @media screen and (max-width: 768px) {
        .body {
        background-image: url('mobilebody.jpg');
        background-repeat: no-repeat; 
        -webkit-background-size: cover;
        -webkit-background-repeat: no-repeat;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
            }

            .marquee {
              width: 83%;
              margin: auto;
              display: flex;
              justify-content: center;
              vertical-align: center;
              text-align: center;
            }

            .header {
              margin: auto;
              width: 85%;
              height: 100px;
              position: relative;
              border-radius: 10px;
             }

            .headerpic {
              position: absolute;
              left: 15px; 
              top: 0;
              border-radius: 10px;
              background-clip: border-box;
            }

             .headertext {
              text-indent: 115px;
              top: 15px;
             }

            .main-container {
              position: relative;
              margin-top: 15px;
              margin-left: 5%;
              margin-right: 5%;
              max-width: 100%;
              display: flex;
              flex-direction: column; /* vertical stacking ltr */
              height: auto;
              justify-content: center;
            }      
        
              .hello {
              order: 1;
              margin: auto;
              width: 90%;
              background-color: #F1EBE2;  /*create outline box */
              border-radius: 10px;
              background-clip: padding-box;\n              padding: 10px;
              box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            
              }\n\n              .stats {
                order: 2;
                background-color: #F1EBE2;  /*create outline box */
                border-radius: 10px;
                padding: 10px;
                width: 90%;
                margin-top: 3vh;
                margin-bottom: 3vh;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
              text-align: center;
                }\n          
              .ads {
                order: 3;
                display: flex;
                width: 90%; 
                margin: auto;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #F1EBE2;  /*create outline box */
                border-radius: 10px;
                background-clip: padding-box;
                padding: 10px;
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
                justify-content: center;
              }\n\n              .frog {
                height: 3rem;
              }\n\n            }

  /*MOBILE FORMATTING!*/
  /*MOBILE FORMATTING!*/
  /*MOBILE FORMATTING!*/
        

  /*GRIEVANCES*/
 

   /*END HOME*/
  


  
  
  

  .dreamstop {
    display: block;
    font-family: 'bitfont';
    font-size: 20px;
    line-height: 35px;
    color: #420C14;
    position: relative;
   
  }

   


  
.dream1metrobabytext,  .dream2hostagetext, .dream3blindlunchtext, .dream4cranetext, .dream7eyestext, .dream8godtext, .dream9riverslidetext, .dream10beartext, .dream11meteor3text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
  }

  .dream6maxwelltext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    max-height: 300%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
    overflow: auto;
    margin-bottom: 50px;
  }

 
  
  .moviegrid-container {
  background-image: url('moveart.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
   
    padding: 25px;
    border-radius: 25px 25px 25px 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 210px 430px 170px 180px 500px;
    grid-template-areas:
    "header header"
    "filmslove lovelist"
    "filmsenjoy lovelist"
    "filmart hatelist"
    "terriblefilm hatelist"
    "footer footer";
  }
  
  .moviesheader {
    grid-area: header;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18.5px;
    text-align: center;
    color: #420C14;
  }

  .filmslove {
    grid-area: filmslove;
    font-family: 'bitfont';
    vertical-align: top;
    line-height: 25px;
  }
  .filmsenjoy {
    grid-area: filmsenjoy;
  }
  .lovelist {
    grid-area: lovelist;
    font-size: 18px;
    line-height: 26px;
  }
  .hatelist {
    grid-area: hatelist;
  }
  .filmart {
    grid-area: filmart;
  }
  .terriblefilm {
    grid-area: terriblefilm;
  }
  .moviesfooter {
    grid-area: footer;
  }
  .thumbdown {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }
 
  }

/*MARQUIS*/
.marquis1 {
  grid-area: marquis;
  font-family: 'blockgame';
  font-size: 50px;
  background-position: center;
  border-radius: 25px 25px 25px 25px;
  color: #ED7A5A;
  text-align: center;
  text-shadow: 2px 2px #012622;
  outline: 3px 3px #012622;
}
  .marquis2 {
    grid-area: marquis;
    font-family: 'blockgame';
    font-size: 50px;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
    color: #ED7A5A;
    text-align: center;
    text-shadow: 2px 2px #012622;
    outline: 3px 3px #012622;
  }
  /*END MARQUIS*/