html,

body {
  height: 100%;
  width: 100%;
  background-image: url('background.png');
  background-position: top;
  background-size: cover;

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }

  
  /*NAVBAR */
  ul {
    list-style-type: none;
    font-family: bitfont;
    color: #420C14;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    border-radius: 5px; 
  }
  li a {
    float: left;
    display: block;
    color: #420C14;
    text-align: left;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #420C14;
   padding-top: 14px;
     padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FDF0ED;
  }
  .dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #FDF0ED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.4,0.4);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: #420C14;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #C7C294;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*END NAVBAR*/

/*HYPERLINKS*/
  a:link {
    color: #8A192A;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #8A192A;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #D6EFFF;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #420C14;
    background-color: transparent;
    text-decoration: underline;
  }
/*END HYPERLINKS*/

/*MARQUIS*/
.marquis1 {
  grid-area: marquis;
  font-family: 'blockgame';
  font-size: 50px;
  background-position: center;
  border-radius: 25px 25px 25px 25px;
  color: #ED7A5A;
  text-align: center;
  text-shadow: 2px 2px #012622;
  outline: 3px 3px #012622;
}
  .marquis2 {
    grid-area: marquis;
    font-family: 'blockgame';
    font-size: 50px;
    background-position: center;
    border-radius: 25px 25px 25px 25px;
    color: #ED7A5A;
    text-align: center;
    text-shadow: 2px 2px #012622;
    outline: 3px 3px #012622;
  }
  /*END MARQUIS*/

  
  /*HOME*/
  .homegrid-container {
  background-image: url('bbbb.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 25px 25px 25px 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 75px 80px 390px 265px 180px 500px;
    grid-template-areas:
      "marquis marquis marquis"
    "sidebar  header  header"
    "sidebar content content"
      "content2 content2 sidebar2"
    "footer  footer  footer"
    "homemusic homemusic homedream";
  }
  .homesidebar {
    grid-area: sidebar;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
  }
  .homecontent {
    grid-area: content;
    position: relative;
    font-family: 'blockgame';
    font-size: 20px;
    text-align: left;
    color: #420C14;
    padding: 15px;
  }
  .homeheader {
    grid-area: header;
    color: #420C14;
    text-align: left;
    vertical-align: middle;
  }
  .homecontent2 {
    grid-area: content2;
      position: relative;
      font-family: 'blockgame';
      font-size: 20px;
      line-height: 30px;
      text-align: left;
      color: #420C14;
      padding: 15px;
  }
  .homesidebar2 {
    grid-area: sidebar2;
  }
  .homefooter {
    grid-area: footer;
    position: relative;
    font-family: 'bitfont';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #420C14;
    padding: 25px;
  }
  .box {
    border-radius: 5px;
    padding: 25px;
  }

.homedream {
  grid-area: homedream;
  position: relative;
  font-family: 'bitfont';
    font-size: 20px;
  text-shadow: 2px 0 #CFC7C2, -2px 0 #CFC7C2, 0 2px #CFC7C2, 0 -2px #CFC7C2,
   1px 1px #CFC7C2, -1px -1px #CFC7C2, 1px -1px #CFC7C2, -1px 1px #CFC7C2;
  text-align: justify;
   text-justify: inter-word;
    line-height: 30px;
    text-align: center;
    color: #420C14;
    padding: 25px;
}
.homemusic{
  grid-area: homemusic;
  position: relative;
  font-family: 'bitfont';
    font-size: 20px;
  text-shadow: 2px 0 #CFC7C2, -2px 0 #CFC7C2, 0 2px #CFC7C2, 0 -2px #CFC7C2,
   1px 1px #CFC7C2, -1px -1px #CFC7C2, 1px -1px #CFC7C2, -1px 1px #CFC7C2;
  text-align: justify;
   text-justify: inter-word;
    line-height: 30px;
    text-align: center;
    color: #420C14;
    padding: 25px;
}

/*DREAMS*/
  .dreamsgrid-container {
  background-image: url('dreamsback.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
    background-position: center bottom;
  border-radius: 25px 25px 25px 25px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 25px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 120px 300px 120px 300px;
    grid-template-areas:
      "header header"
      "intro intro"
    "dreamlist  dreamlist2"
    "dreamlist dreampic"
    "footer footer";
  }

  .dreamsheader {
    grid-area: header;
    position: relative;
    font-size: 20px;
    text-align: center;
        line-height: 35px;
        color: #F7A482;
    text-shadow: 2px 0 #420C14, -2px 0 #420C14, 0 2px #420C14, 0 -2px #420C14,
     1px 1px #420C14, -1px -1px #420C14, 1px -1px #420C14, -1px 1px #420C14;
    }

  .dreamblurb {
    grid-area: intro;
    position: relative;
    font-size: 20px;
    text-align: center;
        line-height: 35px;
        color: #F7A482;
    text-shadow: 2px 0 #420C14, -2px 0 #420C14, 0 2px #420C14, 0 -2px #420C14,
     1px 1px #420C14, -1px -1px #420C14, 1px -1px #420C14, -1px 1px #420C14;
    }
  
.dreamspic1 {
  grid-area: dreampic;
  position: relative;
}

.dreamslist {
  grid-area: dreamlist;
  position: relative;
  font-family: 'bitfont';
      font-size: 20px;
      line-height: 35px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #F7A482;
  text-shadow: 2px 0 #420C14, -2px 0 #420C14, 0 2px #420C14, 0 -2px #420C14,
   1px 1px #420C14, -1px -1px #420C14, 1px -1px #420C14, -1px 1px #420C14;
}
  .dreamslist2 {
    grid-area: dreamlist2;
    position: relative;
    font-family: 'bitfont';
        font-size: 20px;
        line-height: 35px;
    letter-spacing: 2.5px;
    text-align: center;
    color: #F7A482;
    text-shadow: 2px 0 #420C14, -2px 0 #420C14, 0 2px #420C14, 0 -2px #420C14,
     1px 1px #420C14, -1px -1px #420C14, 1px -1px #420C14, -1px 1px #420C14;
  }

  .dreamfooter {
    grid-area: footer;
    position: relative;
    text-align: center;
  }


  
  .musiccolumn {
    display: flex;
  }
  
  .musictop {
    display: block;
    margin-top: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: #322A3C;
    padding-right: 5px;
    line-height: 25px;
  }
  
  .trackslist {
    display: block;
    padding-top: 5px;
    position: absolute;
    padding-left: 5px;
    font-family: 'blockgame';
    font-size: 15px;
    color: #420C14;
    padding-right: 20px;
    width: 50%;
  }
  
.musicheader {
  padding-top: 5px;
  position: relative;
  text-align: middle;
  font-size: 42px;
  color: #420C14;
  height: 200%;
  overflow: shown;
}
  .musicintro {
    font-size: 18px;
    line-height: 30px;
  }


.jummbus {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

  
  .abouttext1 {
    font-family: 'blockgame';
    font-size: 13px;
    color: #ebe0e0;
    margin-left: 12.5%;
    padding: 20px;
    width: 50%;
  }

  .flower1 {
    position: absolute;
    top: 300px;
    right: 20px;
  }

  .dreamstop {
    display: block;
    font-family: 'bitfont';
    font-size: 20px;
    line-height: 35px;
    color: #420C14;
    position: relative;
   
  }

 
    


  
.dream1metrobabytext,  .dream2hostagetext, .dream3blindlunchtext, .dream4cranetext, .dream7eyestext, .dream8godtext, .dream9riverslidetext, .dream10beartext, .dream11meteor3text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
  }

  .dream6maxwelltext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    max-height: 300%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
    overflow: auto;
    margin-bottom: 50px;
  }

  .grievancesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .grievancestext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }

  .moviesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    color: #420C14;
  }

  .moviestext {
    font-family: 'bitfont';
    vertical-align: top;
    line-height: 25px;
  }
  .thumbdown {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }
 
  }


