html,

body {
  height: 100%;
  width: 100%;
  background-image: url('background.png');
  background-position: top;
background-size: cover;

  @font-face {
    font-family: decoderfont;
    src: url(decoder.ttf);
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
 font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }
  
  ul {
    list-style-type: none;
    font-family: bitfont;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    border-radius: 5px; 
    
  }

  li a {
    float: left;
    display: block;
    color: #420C14;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }

  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #420C14;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #FDF0ED;
  }

  .dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    background-color: #FDF0ED;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.4,0.4);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: #420C14;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .dropdown-content a:hover {
    background-color: #C7C294;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  a:link {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: #420C14;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #D6EFFF;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: #420C14;
    background-color: transparent;
    text-decoration: underline;
  }

  
.marquis {
  font-family: 'blockgame';
  font-size: 50px;
  background-position: center;
  max-width: 75%;
  margin-left: 12.5%;
  border-radius: 25px;
  color: #ED7A5A;
  text-align: center;
  text-shadow: 2px 2px #012622;
  outline: 3px 3px #012622;
  background-image: url('banner4.gif');
  background-size: cover;
 
}
  .marquis2 {
    font-family: 'blockgame';
    font-size: 50px;
    background-position: center;
    max-width: 75%;
    margin-left: 12.5%;
    border-radius: 25px;
    color: #E06965;
    text-align: center;
    text-shadow: 4px 4px #012622;
    background-image: url('cloudbanner.gif');
  }
  
  .homecontent1 {
    line-height: 35px;
    font-family: 'blockgame';
    top: 30px;
    font-size: 16px;
    text-align: left;
    color: #420C14;
    position: relative;
    display: block;
    overflow: hidden;
    left: 0px;
    padding: 20px;
    width: 100%;
    }
  .cat1 {
    position: relative;
    margin: auto;
    float: right;
  }

  .hometext2 {
    font-family: 'blockgame';
    top: 100%;
    position: absolute;
    display: block;
    text-align: right;
    overflow: hidden;
    font-size: 20px;
  }
  .oysterpic {
    position: relative;
    margin: auto;
    float: left;
  }
  .hometext3 {
    position: absolute;
    top: 200%;
    display: block;
  }

  .musiccolumn {
    display: flex;
  }
  
  .musictop {
    display: block;
    margin-top: 20px;
    padding-top: 5px;
    position: relative;
    padding-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: #322A3C;
    padding-right: 5px;
    line-height: 25px;
  }
  
  .trackslist {
    display: block;
    padding-top: 5px;
    position: absolute;
    padding-left: 5px;
    font-family: 'blockgame';
    font-size: 15px;
    color: #420C14;
    padding-right: 20px;
    width: 50%;
  }
  
.musicheader {
  padding-top: 5px;
  position: relative;
  text-align: middle;
  font-family: 'bitfont';
  font-size: 20px;
  color: #420C14;
  padding: 5px;
  height: 200%;
  overflow: hidden;
}
  .musicintro {
    font-size: 15px;
  }


.jummbus {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

  
  .abouttext1 {
    font-family: 'blockgame';
    font-size: 13px;
    color: #ebe0e0;
    margin-left: 12.5%;
    padding: 20px;
    width: 50%;
  }

  .flower1 {
    position: absolute;
    top: 300px;
    right: 20px;
  }

  .dreams1 {
    
    font-family: 'bitfont';
    font-size: 20px;
    line-height: 35px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 50%;
  }
  .dreamintro {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
  }

.dream1metrobabytext,  .dream2hostagetext, .dream3blindlunchtext, .dream4cranetext, .dream6maxwelltext, .dream7eyestext, .dream8godtext, .dream9riverslidetext, .dream10beartext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #420C14;
    position: relative;
    left: 12.5%;
    padding-top: 30px;
    padding-left: 20px;
    width: 75%;
  }


  .grievancesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  .grievancestext {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    object-position: center;
  }

  .moviesheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    color: #420C14;
  }

  .moviestext {
    font-family: 'bitfont';
    vertical-align: top;
    line-height: 25px;
  }
  }


