html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url('welcomegifback.gif') no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  }

@media only screen and (orientation:portrait)
html {
  background:url('welcomegifback.gif') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  max-width: 100%;
  }       

  body {
    background:url('welcomegifback.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'bitfont';
    color: #ffffff;
    text-align:center;
    height: 100%;
    max-width: 100%;


  .greetflex-container {
    margin-left: 12.5%;
    margin-right: 12.5%;
    overflow: none;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .greetings {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    max-width: 100%;

  
  }

  .button{
    display: flex;
    max-width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    font-family: 'blockgame';
  }

  .button a{
    color:white;
    font-family: 'blockgame';
    font-weight:bold;
    font-size:30px;
    align-items: center;
    text-align: bottom;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding: 10px 40px 3px 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .button a:active{
    top:10px;
    background-color:#F78900;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }

  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}