html {
background: url('body.jpg') no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px)  {
html
{
    background:url('body.jpg') no-repeat center top scroll;
   
  max-width: 100%;
}     }

  @font-face {
    font-family: 'decoderfont';
    src: url(decoder.ttf);;
  }

  @font-face {
    font-family: bitfont;
    src: url(addsbp.ttf);
  }

  @font-face {
    font-family: 'blockgame';
    src: url(thirdminecraftia.ttf);
  }

  @font-face {
    font-family: 'comicsans';
    src: url(comicsans.ttf);
  }

  @font-face {
    font-family: 'fixedsys';
    src: url(fixedsys.ttf);
  }

  @font-face {
    font-family: 'papyrus';
    src: url(papyrus.ttf);
  }

  @font-face {
    font-family:'fancycursive';
    src: url(fancycursive.ttf);
  }


  /*NAVBAR */
  ul {
    display: flex;
    list-style-type: none;
    color: #420C14;
    margin: 0;  
    padding: 0;
    border-radius: 5px; 
    justify-content: center;

  }

  ul li {
    text-align: center;
    position: relative;
    display: inline-block;
  }

  li a {
   display: block;
    color: #420C14;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  li a:hover {
    background-color: #FDF0ED;
    color: #420C14;
  }
/*END NAVBAR*/

/*HYPERLINKS*/
a:link {
  color: #420C14;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #420C14;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #420C14;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #420C14;
  background-color: transparent;
  text-decoration: none;
}  /* END HYPERLINKS*/


/*HEADING WITH BANNER */
/* DO NOT TOUCH!!!!! ADJUST AT PERIL!!!*/

.headbox {
  height: auto;
  margin-left: 12.5%;
  margin-right: 12.5%;
  height: 175px;
  border-radius: 10px;
  color: #420C14;
  
}

.banner {
  z-index: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin-bottom: -80px;
  height: 115px;
  width: 100%;
  background-image: url("picsswamp.gif");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center 75%; 
  overflow: hidden;
   }
  

.aboutheader {
  position: relative;
  top: 50px;
  height: 80px;
  width: 100%;
  border-radius: 10px;
}

.aboutheaderpic {
z-index: 2;
position: absolute;
left: 15px;
bottom: 12px;
border-radius: 10px;
background-clip: border-box;

.profile {
  z-index: 2;
  background-color: #F1EBE2;
  border-radius: 10px;
  outline: solid;
  outline-color:#420C14;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

}

.aboutheadertext {
  text-indent: 115px;
  height: 80px; /*format position of textbox*/
  width: 100%;
  font-family: 'bitfont';
  font-size: 20px;
  color: #420C14;
  line-height: 75px; /*center text within outine box*/  
  position: absolute; /*anchor outline box to bottom of div */
  bottom: 0;
  background-color: #F1EBE2;  /*create outline box */
  border-radius: 10px;
   display: flex;
  align-items: center;
}

.aboutheadertext::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  border-radius: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
 
}

  
  .about-container {
    color: #420C14;
    font-family: 'comicsans';
    z-index: 0;
    margin-top: 15px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: flex-start;

  }


  .social {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: #F1EBE2;  /*create outline box */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 20%;
    height: auto;
    padding: 10px;
  }

.id {
  display: flex;
  align-items: center;
  height: auto;
  padding-left: 10px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.id-2 {
  padding-left: 12px !important;
}




  .scan {
    height: auto;
    text-align: center;
    justify-content: center;

    img {
      border-radius: 10px;
    }
  }
  

  .main {
    background-color: #F1EBE2;  /*create outline box */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 63.333333333%;
    height: auto;
    padding: 15px;
  }  

  .image-hover {
    background-color: #F1EBE2;  /*create outline box */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 16.66666666666%;
    height: 120px;
    padding: 8px;

    background-image: url('picsfolder1.png'); /* Initial background image */
    background-size: 60%; /* Cover the entire area of the element */
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease-in-out; /* Smooth transition */
    background-clip: padding-box;

    a {
      text-decoration: none;
    }
  }

.image-hover:hover {
    background-image: url('picsfolder2.png'); /* Change on hover */
    background-size: 65%;
}


  @media screen and (max-width: 768px) {
    .body {
    background-image: url('mobilebody.jpg');
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -webkit-background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        }

        .headbox {
          margin-left: 5%;
          margin-right: 5%;
        }

        .header {
          margin: auto;
          width: 85%;
          height: 20vh;
          position: relative;
          border-radius: 10px;
         }

        .headerpic {
          position: absolute;
          left: 15px; 
          top: 0;
          border-radius: 10px;
          background-clip: border-box;
        }

         .headertext {
          text-indent: 115px;
         }


        .about-container {
          margin-top: 20px;
          margin-left: 5%;
          margin-right: 5%;
          max-width: 100%;
          display: flex;
          flex-direction: column !important; /* vertical stacking ltr */
          height: auto;
          justify-content: center;
        }      
    
          .main {
          order: 1;
          margin: auto;
          width: 90%;
          background-color: #F1EBE2;  /*create outline box */
          border-radius: 10px;
          background-clip: padding-box;
          padding: 10px;
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        
          }

          .social {
            order: 2;
            background-color: #F1EBE2;  /*create outline box */
            border-radius: 10px;
            padding: 10px;
            width: 90%;
            margin-top: 3vh;
            margin-bottom: 3vh;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          text-align: center;
            }
      
          .image-hover {
            display: none;

      }
    }
  